@use './styles/partials/setup';
@use './styles/partials/reset';
@use './styles/partials/global';

.header {
  padding: .77rem 0;
  background-color: #010C3F;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 1.88rem;
    color: #FFF;

    &--highlight {
      color: #6c41ec;
    }
  }
}

.main {
  height: 100%;
  padding: 0 17% 10%;
  background-image: url('./assets/background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1020px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%
    }
  }
}
